<!DOCTYPE html>
<html>
    <head>
        <title>NASA Rover Images</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      </head>
    <body>
        <div class="jumbotron jumbotron-fluid bg-dark text-white">
            <div class="container">
                <h1 class="display-3">NASA Mars Rovers 🛰</h1>
                <p class="lead">Images taken by NASA's Rovers on Mars</p>
                <p class="lead">Current Sol: {{currentsol}}</p>
                {% if error %}
                <div class = "alert alert-dark alert-dismissible fade show">{{error}}
                    <button type="button" class = "close" data-dismiss="alert">&times;</button>
                </div>
                {% endif %}
                <form method = "GET">
                    <hr class="my-3">
                    <label for = "sol" class="mr-sm-2"> <strong> SOL: </strong></label>
                    <input type ="text" id = "sol" class="mb-2 mr-sm-2" style = "width:200px; height:40px" placeholder = "SOL" name = "sol"/>
                    <label for = "rover" class="mr-sm-2"><strong> ROVER: </strong></label>
                        <select name = "rover" id = "rover" class = "custom-select form-control mb-2 mr-sm-2" style = "width:200px">
                            <option value = "Curiosity">Curiosity</option>
                            <option value = "Perseverance">Perseverance</option>
                        </select>
                    <input type="submit" class = "btn btn-info mb-2" action = "submit"/>
                </form> 
            <p></p>

            <div id="imageslide" class = "carousel slide" data-ride="carousel">

                <ul class = "carousel-indicators">
                    <li data-target="#imageslide" data-slide-to="0" class = "active"></li>
                    <li data-target="#imageslide" data-slide-to="1" class = "active"></li>
                    <li data-target="#imageslide" data-slide-to="2" class = "active"></li>
                    <li data-target="#imageslide" data-slide-to="3" class = "active"></li>
                    <li data-target="#imageslide" data-slide-to="4" class = "active"></li>
                    <li data-target="#imageslide" data-slide-to="5" class = "active"></li>
                    <li data-target="#imageslide" data-slide-to="6" class = "active"></li>
                    <li data-target="#imageslide" data-slide-to="7" class = "active"></li>
                    <li data-target="#imageslide" data-slide-to="8" class = "active"></li>
                    <li data-target="#imageslide" data-slide-to="9" class = "active"></li>
                    <li data-target="#imageslide" data-slide-to="10" class = "active"></li>
                    <li data-target="#imageslide" data-slide-to="11" class = "active"></li>
                    <li data-target="#imageslide" data-slide-to="12" class = "active"></li>
                    <li data-target="#imageslide" data-slide-to="13" class = "active"></li>
                    <li data-target="#imageslide" data-slide-to="14" class = "active"></li>
                    <li data-target="#imageslide" data-slide-to="15" class = "active"></li>
                    <li data-target="#imageslide" data-slide-to="16" class = "active"></li>
                    <li data-target="#imageslide" data-slide-to="17" class = "active"></li>
                    <li data-target="#imageslide" data-slide-to="18" class = "active"></li>
                    <li data-target="#imageslide" data-slide-to="19" class = "active"></li>
                    <li data-target="#imageslide" data-slide-to="20" class = "active"></li>
                </ul>

                <div class="carousel-inner">
                    <div class = "carousel-item active"><img width="1110" height = "480" frameborder = "0" class="rounded" src = {{imagesrc1}}></img></div>
                    <div class = "carousel-item"><img width="1110" height = "480" frameborder = "0" class="rounded" src = {{imagesrc2}}></img></div>
                    <div class = "carousel-item"><img width="1110" height = "480" frameborder = "0" class="rounded" src = {{imagesrc3}}></img></div>
                    <div class = "carousel-item"><img width="1110" height = "480" frameborder = "0" class="rounded" src = {{imagesrc4}}></img></div>
                    <div class = "carousel-item"><img width="1110" height = "480" frameborder = "0" class="rounded" src = {{imagesrc5}}></img></div>
                    <div class = "carousel-item"><img width="1110" height = "480" frameborder = "0" class="rounded" src = {{imagesrc6}}></img></div>
                    <div class = "carousel-item"><img width="1110" height = "480" frameborder = "0" class="rounded" src = {{imagesrc7}}></img></div>
                    <div class = "carousel-item"><img width="1110" height = "480" frameborder = "0" class="rounded" src = {{imagesrc8}}></img></div>
                    <div class = "carousel-item"><img width="1110" height = "480" frameborder = "0" class="rounded" src = {{imagesrc9}}></img></div>
                    <div class = "carousel-item"><img width="1110" height = "480" frameborder = "0" class="rounded" src = {{imagesrc10}}></img></div>
                    <div class = "carousel-item"><img width="1110" height = "480" frameborder = "0" class="rounded" src = {{imagesrc11}}></img></div>
                    <div class = "carousel-item"><img width="1110" height = "480" frameborder = "0" class="rounded" src = {{imagesrc12}}></img></div>
                    <div class = "carousel-item"><img width="1110" height = "480" frameborder = "0" class="rounded" src = {{imagesrc13}}></img></div>
                    <div class = "carousel-item"><img width="1110" height = "480" frameborder = "0" class="rounded" src = {{imagesrc14}}></img></div>
                    <div class = "carousel-item"><img width="1110" height = "480" frameborder = "0" class="rounded" src = {{imagesrc15}}></img></div>
                    <div class = "carousel-item"><img width="1110" height = "480" frameborder = "0" class="rounded" src = {{imagesrc16}}></img></div>
                    <div class = "carousel-item"><img width="1110" height = "480" frameborder = "0" class="rounded" src = {{imagesrc17}}></img></div>
                    <div class = "carousel-item"><img width="1110" height = "480" frameborder = "0" class="rounded" src = {{imagesrc18}}></img></div>
                    <div class = "carousel-item"><img width="1110" height = "480" frameborder = "0" class="rounded" src = {{imagesrc19}}></img></div>
                    <div class = "carousel-item"><img width="1110" height = "480" frameborder = "0" class="rounded" src = {{imagesrc20}}></img></div>
                </div>

                <a class="carousel-control-prev" href = "#imageslide" data-slide="prev">
                    <span class = "carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href = "#imageslide" data-slide="next">
                    <span class = "carousel-control-next-icon"></span>
                </a>

            </div>
            <p></p>
            <p class="lead"><strong>SOL:</strong> {{sols}};
                <strong>Rover:</strong> {{rover}};
                <strong>Landing Date:</strong> {{landdate}};
                <strong>Launch Date:</strong> {{launchdate}};
                <strong>Status:</strong> Active;
            </p>
            <p class = "lead">
                <strong>Camera:</strong> {{camera}};
                <strong>Earth Date:</strong> {{earthdate}};
            </p>

            <p></p>
            </div>
        </div>
    </body>
</html>